GUILD_ADDR=:8080
GUILD_LOG_LEVEL=debug
GUILD_UI_ORIGIN=http://localhost:3000
GUILD_DATA_DIR=./data
GUILD_STORAGE_DRIVER=file
# GUILD_STORAGE_DRIVER=postgres
# GUILD_DATABASE_URL=postgres://guild:guild@localhost:5432/guild?sslmode=disable
GUILD_MIGRATIONS_DIR=server/migrations
GUILD_OBJECT_DIR=./data/objects
GUILD_WORKER_ENABLED=true
GUILD_WORKER_INTERVAL=1s
